{% extends "base.html" %}
{% block title %}Профайл пользователя {{ author.get_full_name }}{% endblock %}
{% block header %}Последние обновления на сайте{% endblock %}
{% block content %}
  <div class="container py-5">
        <h1>Все посты пользователя {{ author.get_full_name }}</h1>
        <h3>Всего постов: {{ posts_count }} </h3>
        <article>
          <p>
            {% for post in page_obj %}
             {% include 'posts/includes/post_card.html' %}
            {% endfor %}
          </p>
        </article>
        <hr>
        {% include 'posts/includes/paginator.html' %}
  </div>
{% endblock %}

